<div class="applications">
  <div class="wrapper">
    <h1 class="section-title purple">Applications</h1>
    <p class="des-section purple">Learn about different uses of synthetic data and its applications. </p>
    <div class="row">
      <div class="col-20">
        <div class="box purple">
          <p class="title">Data<br>
          Augmentation</p>
          <div class="img-sec">
            <img src="../assets/data.svg" alt="img" />
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
