<div class="section concepts" id="concepts">
  <div class="wrapper">
    <h1 class="section-title d-dark-blue">Concepts</h1>
    <p class="des-section d-dark-blue">Learn about different concepts that underpin synthetic data
    generation,
    evaluation and usage through our tutorials.</p>
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <a href="{{ site.basegithub }}/SDMetrics/blob/master/tutorials/1_getting_started.ipynb"
          target="_blank">
          <div class="box dark-blue">
            <div class="text-sec">
              <p>How to evaluate quality of synthetic data?</p>
              <hr />
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-md-3">
        <a href="{{ site.basegithub }}/Copulas/blob/master/tutorials/01_Introduction_to_Copulas.ipynb"
          target="_blank">
          <div class="box dark-blue">
            <div class="text-sec">
              <p>What are multivariate copulas?</p>
              <hr />
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-md-3">
        <a href="{{ site.basegithub }}/SDV/blob/master/tutorials/single_table_data/04_Handling_Constraints.ipynb"
          target="_blank">
          <div class="box dark-blue">
            <div class="text-sec">
              <p>How to handle constraints?</p>
              <hr />
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-md-3">
        <a href="{{ site.basegithub }}/SDV/blob/master/tutorials/relational_data/01_Relational_Metadata.ipynb"
          target="_blank">
          <div class="box dark-blue">
            <div class="text-sec">
              <p>How to interact with relational data?</p>
              <hr />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
