<div class="section libraries" id="libraries">
  <div class="wrapper">
    <h1 class="section-title purple">Libraries</h1>
    <p class="des-section purple">Explore our open source libraries, contribute and become part of the
    community.
    </p>
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <div class="box white">
          <div class="sec-img-center">
            <img src="assets/sdv.png" alt="img" />
          </div>
          <ul class="link">
            <li><a href="{{ site.basegithub }}/SDV" target="_blank">Github</a></li>
            <li><a href="{{ site.baseurl }}/SDV" target="_blank">Docs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="box white">
          <div class="sec-img-center">
            <img src="assets/c-1.png" alt="img" />
          </div>
          <ul class="link">
            <li><a href="{{ site.basegithub }}/Copulas" target="_blank">Github</a></li>
            <li><a href="{{ site.baseurl }}/Copulas" target="_blank">Docs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="box white">
          <div class="sec-img-center">
            <img src="assets/m-1.png" alt="img" />
          </div>
          <ul class="link">
            <li><a href="{{ site.basegithub }}/SDMetrics" target="_blank">Github</a></li>
            <li><a href="{{ site.baseurl }}/SDMetrics" target="_blank">Docs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="box white">
          <div class="sec-img-center">
            <img src="assets/s-1.png" alt="img" />
          </div>
          <ul class="link">
            <li><a href="{{ site.basegithub }}/SDGym" target="_blank">Github</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="box white">
          <div class="sec-img-center">
            <img src="assets/rdt.png" alt="img" />
          </div>
          <ul class="link">
            <li><a href="{{ site.basegithub }}/RDT" target="_blank">Github</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="box white">
          <div class="sec-img-center">
            <img src="assets/ct.png" alt="img" />
          </div>
          <ul class="link">
            <li><a href="{{ site.basegithub }}/CTGAN" target="_blank">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
