<div class="section resources" id="resources">
  <h1 class="section-title purple">Resources</h1>
  <p class="des-section purple">Explore docs, papers, videos, tutorials. Join our community slack.</p>
  <div class="row">
    <div class="col-md-2 col-12">
      <a href="resources.html#papers">
        <div class="box purple">
          <p class="title">Papers</p>
          <div class="img-sec">
            <img src="../assets/asset1.png" alt="img" />
          </div>
          <div class="line">
            <hr />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-12">
      <a href="{{ site.slack }}" target="_blank">
        <div class="box purple">
          <p class="title">Community</p>
          <div class="img-sec">
            <img src="../assets/asset2.png" alt="img" />
          </div>
          <div class="line">
            <hr />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-12">
      <a href="resources.html#videos">
        <div class="box purple">
          <p class="title">Videos</p>
          <div class="img-sec">
            <img src="../assets/asset6.png" alt="img" />
          </div>
          <div class="line">
            <hr />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-12">
      <a href="{{ site.basegithub }}/SDV/tree/master/tutorials" target="_blank">
        <div class="box purple">
          <p class="title">Tutorials</p>
          <div class="img-sec">
            <img src="../assets/asset3.png" alt="img" />
          </div>
          <div class="line">
            <hr />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-12">
      <a href="{{ site.baseurl }}/SDV/developer_guides/index.html" target="_blank">
        <div class="box purple">
          <p class="title">Developer<br>
          docs</p>
          <div class="img-sec">
            <img src="../assets/asset4.png" alt="img" />
          </div>
          <div class="line">
            <hr />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 col-12">
      <a href="{{ site.baseurl }}/SDV/user_guides/index.html" target="_blank">
        <div class="box purple">
          <p class="title">User<br>
          guides</p>
          <div class="img-sec">
            <img src="../assets/asset5.png" alt="img" />
          </div>
          <div class="line">
            <hr />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
