<div class="section synthesize" id="synthesize">
  <div class="wrapper">
    <div class="wr-synthesize">
      <h1 class="section-title bule">Synthesize</h1>
      <p class="des-section bule">Learn a variety of statistical and neural models and use
      them to synthesize
      data,
      evaluate the quality of the synthetic data. </p>
      <div class="row">
        <div class="col-md-4">
          <a href="{{ site.baseurl }}/SDV/user_guides/relational/hma1.html" target="_blank">
            <div class="box white">
              <h3 class="title">Relational data</h3>
              <p>Learn a model and synthesize relational data.</p>
              <div class="image">
                <img src="assets/Rational.svg" alt="img" class="img-Relational" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{{ site.baseurl }}/SDV/user_guides/single_table/gaussian_copula.html"
            target="_blank">
            <div class="box white">
              <h3 class="title">Tabular </h3>
              <p>Learn a model and synthesize tabular data.
              Copulas, GANs</p>
              <div class="image">
                <img src="assets/tabular.svg" alt="img" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{{ site.baseurl }}/SDV/user_guides/timeseries/index.html" target="_blank">
            <div class="box white">
              <h3 class="title">Time series</h3>
              <p>Learn a model and synthesize time series. </p>
              <div class="image">
                <img src="assets/time-series.svg" alt="img" class="time-img" />
              </div>
            </div>
          </a>
        </div>
        <!--
        <div class="col-md-4">
          <div class="box white">
            <h3 class="title">Images</h3>
            <p>Learn a model and synthesize images.
            Coming soon. </p>
          </div>
        </div>
        -->
        <!--
        <div class="col-md-4">
          <div class="box white">
            <h3 class="title">Text </h3>
            <p>Learn a model and synthesize text data
            Coming soon.
            </p>
          </div>
        </div>
        -->
        <div class="col-md-4">
          <a href="{{ site.baseurl }}/SDV/user_guides/single_table/evaluation.html" target="_blank">
            <div class="box white">
              <h3 class="title">Benchmarking</h3>
              <p>A comprehensive benchmarking framework to assess different modeling techniques.</p>
              <div class="image">
                <img src="assets/Benchmarking.svg" alt="img" class="benchmarking-img" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="{{ site.baseurl }}/SDMetrics" target="_blank">
            <div class="box white">
              <h3 class="title">Metrics</h3>
              <p>Evaluate and assess generated synthetic data.</p>
              <div class="image">
                <img src="assets/Metrics.svg" alt="img" class="Metrics-img" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
