#navbar {
  transition: all 100ms ease-in-out;
  .nav-bg-white & {
    background-color: white;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
  }

  @media (max-width: 1024px) {
    background-color: white;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
  }
}

.navbar-item {
  color: white;
  .nav-bg-white & {
    color: #0C0C0C;
  }

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: 1024px) {
    color: #0C0C0C;
  }
}

.fluid-width-video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
