
.post {
  h2,h3,h4,h5,h6 {
    position: relative;

    &:after {
      position: absolute;
      height: 100%;
      width: 3px;
      left: -11px;
      top:0;
      bottom:0;
      content: '';
      background-image: linear-gradient(45deg, #03B0F2 1.57%, #01E0C9 100%);
    }
  }

  h2 {
    margin: 48px 0;
  }
  h3{
    margin: 40px 0;
  }
  h4{
    margin: 32px 0;
  }
  h5 {
    margin: 24px 0;
  }
  h6 {
    margin: 16px 0;
  }

  ol,ul {
    padding-left: 2rem;
    line-height: 1.75;
    margin-bottom: 22px;
  }


  p {
    margin-bottom: 22px;
    line-height: 1.75;
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }

  .kg-card-hascaption {
    margin-bottom: 22px;
  }

  .kg-embed-card {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
}
