<!-- index.html -->
<!DOCTYPE html>
<html>

  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="og:locale" content="en_US">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv='Expires' content='0'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='imagetoolbar' content='no'>

    <meta name="keywords" content="{{ page.keywords }}">

    <meta name="og:url" content="{{ site.url }}">
    <meta name="og:site_name" content="{{ site.title }}">

    <meta name="title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
    <meta name="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">

    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
    <meta name="twitter:site" content="@{{ site.twitter.username }}">

    {% if page.summary %}
    <meta name="description" content="{{ page.summary }}">
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta name="og:description" content="{{ page.summary }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="og:description" content="{{ site.description }}">
    {% endif %}

    {% if page.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.logo }}">
    {% endif %}

    <script type="application/ld+json">
      {"description":"{{ site.description }}","@type":"WebSite","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"{{ site.url }}{{ site.baseurl }}{{ site.logo }}"}},"name":"{{ site.title }}","headline":"{{ page.title }}","sameAs":[{% for link in site.social.links %}"{{ link }}"{% if forloop.last == false %},{% endif %}{% endfor %}],"url":"{{ site.url }}","@context":"https://schema.org"}</script>
    <!-- end of Meta -->

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}">

    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="shortcut icon" href="assets/favicon.ico">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-core.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-component-grid.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-component-button.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ page.custom_css }}" />

  </head>

  <body>

    {%- include navbar.html -%}

    {{ content }}

    {%- include footer.html -%}

    {%- include ga.html -%}

    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    <script src="{{ site.baseurl }}/js/{{ page.custom_js }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  </body>
</html>
